.navbar{
color: white;
background-color:rgba(15, 14, 14, 0.6);
margin-left:50px;
margin-right:50px;
border-radius:10px;
}
.navbar-brand {
color: white;
font-size:32px;
margin-left:20px;
font-weight:bold;
margin-right:280px;
}
.nav-link{
color: white;
font-size:22px;
margin-right:80px;
font-weight:bold;
}